/* smartphone */
@media (max-width: 576px) {
body {
    font-style: italic;
    background-color: #FAF9EE;
    
}
.nav-link.active {
    color: #3706e7 !important;
    font-weight: bolder;
}
.navbar-desktop{
  display: none;
}

span{
  color: red;
}

.contactinfo-aside{
  display: none;
}
}

footer {
    color: #3706e7;
    position: relative;
    bottom: 0px;
    width: 100%;
}

/* pc */
@media (min-width: 992px) {
  
p {
    line-height: 25px;
    font-size: larger;
}
.navbar-mobile{
  display: none;
}

body {
    font-style: italic;
    background-color: #FAF9EE;
}

.nav-link.active {
    color: #3706e7 !important;
    font-weight: bolder;
}

.logo-size {
    width: 90px;
    height: auto;
}

.search-bar{
    height: 30px;
    background-color: white ;
    border-color: black;
    text-align: center;
    border-radius: 25px;  
}

.zoek-button {
    color: blue;
    border-color: black;
    margin-left: 10px;
    scale: 120%;
}

.navbar{
    font-size: 20px;
}

.about-section {
  display: flex;
  gap: 20px; /* ruimte tussen links en rechts */
  padding: 20px;
}

.about-text {
  flex: 1; /* neemt 50% van de breedte */
}

.about-photo {
  flex: 1; /* neemt ook 50% van de breedte */
}

.hover-img:hover {
  scale: 101%;
}

.about-photo img {
  max-width: 90%;
  border-radius: 10px;  
}

.progress-bar{
    background-color: #3706e7;
}

.foto-axel{
    scale: 80%;

}

.contactinfo-aside {
  position: absolute;
  right: 10px;
  top: auto;
  border-radius: 50px;
  width: 300px;
  text-align: center;
  background-color: var(--bs-success-bg-subtle);
}

.submit-kleur{
  background-color: var(--bs-success-bg-subtle);
  font-weight: bolder;
}

footer {
    color: #3706e7;
    position: relative;
    bottom: 0px;
    width: 100%;
}

span{
  color: red;
}

}